<!DOCTYPE html>
<html>
<head>
  <title>SwitchForms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  (function(e,t,n,a,c,s,i){e["SwitchAnalyticsObject"]=c;e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments);
  },e[c].l=1*new Date;s=t.createElement(n),i=t.getElementsByTagName(n)[0];s.async=1;
  s.src=a;i.parentNode.insertBefore(s,i)})(window,document,"script","https://37f90f9f.ngrok.io/analytics/gSBfrSQqUdCvpF1RLgdjUw.js","san");
  san("create","SAN-d3edf49062fca16b");san("send","pageview");
  </script>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render "shared/flash" %>
  <div class="container container-main">
    <%= yield %>
  </div>
</body>
</html>
